{% extends 'base.html' %}
{% load static %}
{% block content %}


<div id="main-wrapper" class="section"    >
    <main class="main">
        <div class="container">
            <section class="wrapper" style="max-width: 80rem;">
                <div class="heading">
                    <h1 class="text text-large">About Us</h1>
                    <p class="text text-normal">The journey starts in 2019 with an idea to sell fully customised t-shirts which every college student thinks but for us its bit different for us it is the idea to build an online marketplace where people can catch up with latest trends and wear their fav fashion in every color possible. This is how <b>Buzzy Closet</b> is formed and now with us you can <b>WEAR YOUR BUZZ</b>
                    </p>
                </div>
              
              
            </section>
        </div>
    </main>

</div>

{% endblock %}

