{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="main-wrapper" class="section" >
    <main class="main">
        <div class="container">
            <section class="wrapper"  style="max-width: fit-content;">
                <div class="heading">
                    <h1 class="text text-large">Shipping And Delivery Timeline</h1>
                    <h3 class="text text-normal">We will Ship your product within 2 days of your purchase and same will be deliver within 5-7 days depending upon your location.Expect some delay due to weather conditions.
                    </h3>
                </div>
               
              
            </section>
        </div>
    </main>

</div>

{% endblock %}